* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    color: #153d87;
}


body 
{
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    background: url('../images/background1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    
}



.loginContainer
{
    width: 400px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.8);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    opacity: 0.9;
}


.loginContainer h1
{
    margin-bottom: 20px;
}

.outer-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-button
{
    margin-top: 20px;
}

