* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    color: #153d87;
}


body 
{
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    background: url('../images/background1.jpg') no-repeat !important;
    background-size: cover;
    background-position: center;
    
}


/* Outer container styling */
.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
input{
    box-shadow: 
            -1px -1px 0 #000,  
             1px -1px 0 #000,
            -1px  1px 0 #000,
             1px  1px 0 #000; 
}

/* Login container styling */
.loginContainer {
    background: rgba(237, 231, 231, 0.5);
    background: blur;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.loginContainer h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Login buttons styling */
.login-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

input[type="submit"],
button[type="button"] {
    margin-right: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
}

button[type="button"] {
    background-color: #6c757d;
    color: #fff;
    box-shadow: 
            -1px -1px 0 #000,  
             1px -1px 0 #000,
            -1px  1px 0 #000,
             1px  1px 0 #000; 
}

/* Hover effect for buttons */
input[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #0056b3; /* Darker blue */
}

/* Back button styling */
.back-button {
    margin-top: 20px;
}

.back-button button[type="button"] {
    background-color: #dc3545; /* Red */
    color: #fff;
}

.back-button button[type="button"]:hover {
    background-color: #c82333; /* Darker red */
}
