/* CSS for question design */


@keyframes rainbow {
    0% {color: red;}
    14% {color: orange;}
    28% {color: yellow;}
    42% {color: lime;}
    57% {color: blue;}
    71% {color: indigo;}
    85% {color: violet;}
    100% {color: red;}
}

h1.rainbow {
    animation: rainbow 4s linear infinite;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.question {
    background: rgba(237, 231, 231, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 600px;
    width: 90%;
}

h1 {
    color: #153d87;
    font-size: 32px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.options {
    margin-top: 30px;
}

label {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}
input{
    box-shadow: 
            -1px -1px 0 #000,  
             1px -1px 0 #000,
            -1px  1px 0 #000,
             1px  1px 0 #000;
}
input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}


p {
    margin-bottom: 10px;
}

.rainbow {
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
    display: inline;
    animation: animateRainbow 5s linear infinite;
}

@keyframes animateRainbow {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}
